
<!DOCTYPE html>
<html lang="en">
{% include 'aplicacion/modulos/header.html' %}
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
  {% include 'aplicacion/modulos/nav-bar.html' %}
  <!-- /.navbar -->
  {% include 'aplicacion/modulos/menu.html' %}
  <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="container mt-4">
       <div class="row">
        <div class="col-md">
            <div class="card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header text-white"
                     style="background: no-repeat center/100% url('{{ url_for('static', filename = 'dist/img/photo1.png')}}');">
                  <h3 class="widget-user-username text-right">{{op.nombre}}</h3>
                  <h5 class="widget-user-desc text-right">{{op.tipo_puesto}}</h5>
                </div>
                <div class="widget-user-image">
                    
                  <img class="img-circle" src="{{ url_for('static', filename = 'dist/img/user3-128x128.jpg')}}" alt="User Avatar">
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">Edad</h5>
                        <span class="description-text">{{op.edad}}</span>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">Estado</h5>
                         <!-- Select multiple-->
                      <div class="form-group">
                        <select name="EstadoOperativo" class="form-control">
                          {% for dato in cat %}
                          <option value="{{dato.EstadoOperativo}} " class="form-control">{{dato.EstadoOperativo}}
                          </option>
                          {% endfor %}
                        </select>
                      </div>
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-4">
                      <div class="description-block">
                        <h5 class="description-header">Asistencia</h5>
                        <a href="/AsistenciaEmpleado" class="btn btn-success">Registrar <i class="fa fa-clock"></i>
                        </a>
                        </div>
                          
                      </div>
                      <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
              </div>
        </div>
       </div>
      </section>
    </div>
  <!-- /.content-wrapper -->
  
  {% include 'aplicacion/modulos/side-bar-control.html' %}
  </div>
<!-- ./wrapper -->
<!-- jQuery -->
{% include 'aplicacion/modulos/scripts.html' %}
</body>

</html>



