<!DOCTYPE html>
<html lang="en">
{% include 'modulos/header.html' %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {% include 'modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content mt-4">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="card-title">Asitencia de operadores</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Estado</th>
                                    <th>Hora de inicio de jornada</th>
                                    <th>Hora de termino de jornada</th>
                                    <th>Activo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in op %}
                                <tr>
                                    <td>{{ dato.identificador}}</td>
                                    <td>{{ dato.nombre}}</td>
                                    <td>{{ dato.correo}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>


                        </table>
                    </div>
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        {% include 'modulos/footer.html' %}
        {% include 'modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'modulos/scripts.html' %}
</body>

</html>